<div class="container">
  <section class="logo">
    <a href="/">
      <img src="/public/img/logo.png" alt="Logo">
    </a>
  </section>
  <nav class="navigation">
    <ul>
      <li><a href="/">Home</a></li>
      <li class="authorized"><a href="/menu">Menu</a></li>
      <li class="unauthorized"><a href="/login">Log In</a></li>
      <li class="authorized"><a id="log_out" href="/logout">Log Out</a></li>
      <li class="unauthorized"><a href="/signup">Sign Up</a></li>
      <li class="authorized nav-cart"><a href="/cart">Cart</a></li>
    </ul>
  </nav>
</div>
